# Configurações do E-mail (Resend)
RESEND_API_KEY=sua_chave_do_resend_aqui
MTECH_EMAIL_RECEIVER=seu_email_comercial_aqui@exemplo.com

# Configurações do Gemini
GEMINI_API_KEY=sua_chave_do_gemini_aqui

# Configuração de Acesso ao Painel Analytics
ADMIN_DASHBOARD_PIN=seu_pin_de_seguranca_aqui

